* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    min-height: 100vh;
}

.top {
    height: 50vh;
    background-color: royalblue;
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
}

#whiteSquare {
    width: 80em; height: 25em;
    background-color: white;
    position: absolute;
    bottom: -8.5em; left: 50%;
    transform: translateX(-50%);

    border-radius: 5px;
}

.shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.030),
    0 6.7px 5.3px rgba(0, 0, 0, 0.044),
    0 12.5px 10px rgba(0, 0, 0, 0.056),
    0 22.3px 17.9px rgba(0, 0, 0, 0.068),
    0 41.8px 33.4px rgba(0, 0, 0, 0.082),
    0 100px 80px rgba(0, 0, 0, 0.08);
}

#graySquare {
    width: 75em; height: 20em;
    background-color: #F0F0F0;
    position: absolute;
    bottom: -6em; left: 50%;
    transform: translateX(-50%);

    color: royalblue;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;

    border-radius: 5px;
}
.bottom {
    height: 50vh;
    background-color: #F0F0F0;
}

.inputFile {
    background-color: #F0F0F0;
    border: none;
    color: royalblue;
    cursor: pointer;
    font-size: 20px;
}

.blueButton {
    background-color: royalblue;
    border: none;
    color: #F0F0F0;
    padding: 14px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.backButton {
    margin-right: 100px;
}
